.sidebar {
    width: 200px;
    height: 100vh;
    background-color: var(--secondary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sidebar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10PX;
    
  }


  
  .sidebar a.active {
    background-color: var(--primary-color);
    text-decoration: none;
  }

 .dropdownHeader {
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  margin: 10px 0;
  gap: 10px;
  font-weight: bold;
  color: aliceblue;
  
}

.subMenu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
  

.logoutBtn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  gap: 10px;
  text-align: left;
}

.logoutBtn:hover {
  background-color: #f0f0f0;
  color: black;
  border-radius: 5px;
}


.profileSection {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin: 12px;
  background-color: #f0f0f0;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.userName {
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}

.profileSection a {
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: #010000;
  font-weight: bold;
  margin-top: 5px;
}
